.header-24.dark {
  --bg-color: #e8e8ea;

  --primary-color: #041c65; //заголовки, тексты, ссылки и тд в форме авторизации
  --secondary-color: #0449e0;       //обычный текст, параграфы, то на чём не стоит делать акцент
}
