.document-text {
  font-family: "Tahoma", sans-serif;
  font-size: 14px;
  color: rgba(100, 100, 100, .9);
  margin-top: 16px;
  margin-bottom: 16px;
}
@media screen and (max-width: 767px) {
  .document-text {
    font-size: 12px;
    margin-top: 12px;
    margin-bottom: 12px;
  }
}
.label, .textarea {
  font-family: Tahoma,sans-serif;
  font-weight: 400;
  width: 100%;

}

.label {
  color: #000;
  display: block;
  font-size: 16px;
  line-height: 17px;
  margin-left: 8px;
  white-space: pre-wrap;
  margin-bottom: 5px;
}


.link-color {
  color: rgba(24, 144, 255, .7);
  //font-size: inherit;
  font-family: inherit;
}
.link-action {
  cursor: pointer
}

.font-main {
  font-family: "Tahoma", sans-serif !important
}
@media screen and (max-width: 767px) and (min-width: 300px) {
  .input, .input::placeholder, .label, .selected-item, .text-component {
    font-size: 13px !important;
  }
}


.notification-close {
  position: absolute;
  top: 6px;
  right: 6px;
  height: 25px;
  width: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: rgba(196, 196, 196, 1);
  border-radius: 50%;
}
.notification-close-first-line {
  position: absolute;
  width: 15px;
  height: 2px;
  transform: rotate(45deg);
  background-color: white;
}

.notification-close-second-line {
  position: absolute;
  width: 15px;
  height: 2px;
  transform: rotate(-45deg);
  background-color: white;
}
.modal-container {
  position: fixed;
  z-index: 100;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
}

